h1 {
    padding: 30px;
    font-size: 200%;
    text-decoration: underline;
    font-weight: bold;
}

#local-adicionartarefa {
    font-size: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 10px;
}

#bto-adicionartarefa {
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: black;
}

#bto-adicionartarefa:hover {
    background-color: #FFFFFF;
    color: black;
}

.bto-removertarefa {
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: black;
}

.bto-removertarefa:hover {
    background-color: #FFFFFF;
    color: black;
}

.tarefas-lista {
	padding: 8px;
    border: 1px solid #ccc;
    transition: 0.1s all;
    text-align: right;
}

.tarefas-lista p {
    text-align: left;
}

li:hover {
    background-image: url("background.jpg");
    color: #FFFFFF;
    ;
}

#lista-tarefas {
    font-size: 20px;
    margin-left: 15px;
}


ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
    width: 40%;
}

.imagem-cafe {
    max-width: 300px;
    max-height: 250px;
    margin: 0 0 50px 0;
}

.fadeOut{
	opacity: 0;
	transition: 0.5s;
}